<ion-content no-padding>
    <div class="content-div">
      
      <div class="sub-one">Verification</div>
      <div class="sub-two">
        <img class="sub-logo" src="../../assets/imgs/icon.jpg" >
      </div>
      <br>
      <div class="sub-three">Enter the verification code we just sent you on your mobile</div>
      <div class="sub-five">
        <ion-item no-lines no-padding class="item-class">
            <ion-input class="input-class" type="number" placeholder="Verification code" maxLength="10" [(ngModel)]="verificationCode"></ion-input>
        </ion-item>
      </div>
      <!-- <div *ngIf="value != 0" class="sub-four">
          <span class="sub-span">{{value? value.toString().length >1 ? '00:'+value : '00:0'+value : "00:00"}}</span>
      </div> -->
      <div *ngIf="value != 0" class="sub-four">
        <span class="sub-span">{{clockDisplay}}</span>
      </div>
      <div *ngIf="value == 0" class="sub-four">If you don't receive a code! <span class="sub-span" (click)="resendClick()">Resend</span></div>

      <div class="sub-six">
        <button class="sub-six-btn" ion-button round (click)="clickContinue()">Verify</button>
      </div>
  
  
    </div>
  
  </ion-content>





<!-- <ion-content no-padding>
  <div class="content-div">

    <div class="logo-bacground-div">
      <img class="logo-img" src="../../assets/imgs/loading.gif" style="width: 100%">
    </div>

    <div class="item-div">
        <ion-item no-lines class="custom-item">
          <ion-input class="custom-input" type="text" placeholder="Verification code"></ion-input>
        </ion-item>
    </div>

    <div class="custom-text-div">
      Please Enter your verification code.
    </div>

    <div class="resend-btn">
      <span *ngIf="value == 0 " class="resend-span" (click)="resendButtonClick()">RESEND</span>
      <span *ngIf="value != 0 " class="count-down">{{value? value.toString().length >1 ? '00:'+value : '00:0'+value : "00:00"}}</span>
    </div>

  </div>

</ion-content>
<ion-footer class="custom-footer" no-border>
    <button class="footer-button" ion-button block (click)="clickContinue()">Continue</button>
</ion-footer> -->
