page-phone-number-verification {
    /*.content-div{
        background: color($colors,backgroundOne);height: 100%;width: 100%
    }
    .logo-bacground-div{
        height: 60vw;width: 100%;background: color($colors,backgroundTwo);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo-img{
        height: 60vw;
        width: 60vw !important;
    }
    .item-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
    }
    .custom-item{
        padding-left: 0px !important;
        width: 90vw;
        align-self: center;
        height: 14vw;
        padding: 3px 0;
        border: 1px solid color($colors,dark);
        border-radius: 7vw;
        box-shadow: 0px 0px 4px 1px;
    }
    .custom-input{
        padding:0 5px 0 9px
    }

    .custom-text-div{
        padding: 0px 5vw;
        text-align: center;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1.2px;
        line-height: 1.5;
    }
    .resend-btn{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        padding: 4vw 0;  
    }
    .resend-span{
        background: color($colors,backgroundTwo);
        padding: 4px 15px 2px 15px;
        border-radius: 13px;
        border:1px solid color($colors,dark);
        box-shadow: 0px 0px 4px 1px;
    }
    .count-down{
        color: color($colors,danger);
    }

    .custom-footer{
        height: 14vw;
    }
    .footer-button{
        height: 100%;
        background: color($colors,dark);
        letter-spacing: 1.2px;
    }
    */

    .content-div{display:flex;width:100%;flex-direction:column;text-align: center;margin: 10vw 0;}
    .sub-one{
        font-size: 18px; font-weight: bold;padding: 0 10vw; letter-spacing: 1.2px;
    }
    .sub-two{ padding: 10vw 0 0 0;}
    .sub-logo{ height: 45vw;width: 45vw; }
    .sub-three{font-size: 14px; font-weight: bold;padding: 0 10vw; letter-spacing: 1.2px;}
    .sub-four{font-size: 11px;color:#777777; font-weight: 300; letter-spacing: 1px;padding: 4vw 10vw;}
    .sub-span{
        color:color($colors,danger);
        font-size: 12px;
        font-weight: 400;
    }
    .sub-five{font-size: 12px; font-weight: 500; letter-spacing: 1.2px;padding: 4vw 10vw;}
    .item-class{
        border: .5px solid color($colors,danger) !important; border-left: 0!important;border-right: 0!important;border-top: 0!important;
        .item-inner{
            padding-right: 0 !important;
            font-size: 16px !important;
            //color: color($colors, danger) !important;
        }
        ::placeholder {
            font-size: 13px; //sets placeholder font size
            color:color($colors,textcolorOne);
            letter-spacing: 1.2px;
        }
    }
    .input-class{
        margin-right: 0 !important;
        .text-input{
            text-align: center !important;
            font-weight: 400 !important;
            font-size: 22px !important;
            color:color($colors,danger);
            letter-spacing: 2px;
            padding-left: 2vw;

        }
    }
    .sub-six{padding: 15vw 10vw;}
    .sub-six-btn{
        text-transform: none !important;font-size: 16px;height: 12vw;width: 32vw;letter-spacing: 1.2px;
        background: color($colors,dark);
    }

    //Universion button style
    .button-md.activated{
        background: color($colors,danger) !important;
    }
    .button-ios.activated{
        background: color($colors,danger) !important;
    }
}
