page-profile {

    .content-class-main{
        position:relative
    }
    .content-class-sub{
        margin: 0 0 15vw 0
    }
    .background-div{
        width: 100%; height: 50vw
    }
    .background-img{
        height: 50vw;width:100%;
        object-fit: cover;
    }

    .mainDiv{
        display: flex; flex-direction: column; justify-content: center;width: 100%;position: absolute;top: 30vw;
    }
    .subDiv{
        display: flex; flex-direction: row; justify-content: center; width:100%
    }
    .circleDiv{
        height: 32vw;width: 32vw; border-radius: 50%;
        justify-content: flex-end; display: flex;
        flex-direction: column;border: 3px solid color($colors,primary)
    }
    .cImg{
        width: 100%; height: 30.5vw;border-radius: 50%;object-fit: cover; 
    }
    .profile-div{
        display:flex; justify-content: center;flex-direction: row;
    }
    .pro-subDiv{
        padding: 10px;font-size: 15px;font-weight: bold;letter-spacing: 1px;
    }

    .iconDiv{
        position: absolute;width: 32vw;bottom: 0vw;
    }
    .iconMainDiv{
        display: flex; justify-content: flex-end; flex-direction: row; margin-bottom: 5vw;
    }
    .iconSubDiv{
        display: flex;
        background-color:color($colors,primary); border-radius: 50%; height: 27px;
        width: 27px; justify-content: center;flex-direction: column
    }

    .iconStyle{
        display: inline-block;font-size: 1.1em; text-align: center;
        align-items: center; color: #FFF; 
        //margin-bottom: 2px; margin-left: 1px;
    }
    .item-div{
        padding: 0 15px;
    }

    .itemIcon{
        //font-size: 18px;
        z-index: 99999;
    }
    ion-item{
        padding-left:0 !important;
    }
    .startItem{
        display: flex; flex-direction: row;
    }
    .staricon{
        padding: 0 1px !important;
        //background: red;
        color: rgb(221, 182, 6);
        font-size: 20px;
    }

    .footer-class{
        height: 50px !important;
    }
    .footer-button{
        height: 100%;
        background: color($colors,dark);
    }
    #notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }


#notifications-badge {
        background-color: red;
        position: absolute;
        top: 0px;
        right: 2px;
        border-radius: 100%;
    }
}
