<ion-header>
    <ion-navbar color="dark">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>History</ion-title>
      <ion-buttons end>
        </ion-buttons>
    </ion-navbar>
    <div  style="background: #222;">
        <ion-segment [(ngModel)]="ordersegment" >
          <ion-segment-button value="current" class="segment-class" (click)="segmentChange('current')">
            Current Orders
          </ion-segment-button>
          <ion-segment-button value="complete" class="segment-class"(click)="segmentChange('complete')">
            Complete Orders
          </ion-segment-button>
        </ion-segment>
      </div>
    <!-- <ion-searchbar style="background: #222" (ionInput)="getItems($event)"></ion-searchbar> -->
  </ion-header>
  
  <ion-content no-lines no-padding style="background-color: #f8f8f8">
      <img src="./assets/imgs/emptybag.png"   style="margin-top:100px" *ngIf="showableData == ''"/>
      <div class="item-main-div" *ngFor="let item of showableData; let i=index;" style="background-color: #ffff">
        <ion-item no-lines no-padding class="custom-item">
            <img item-start class="item-img" src="{{item.orderImage}}">
            <div>
              <div class="div-one">
                  <div class="div-one-first">{{item.subcat_name}}  {{item.totalOrders>1?'+':''}}{{item.totalOrders>1?item.totalOrders-1:''}}</div>
                  <h6 class="div-one-second">Order Date: {{item.bookingDate}}</h6>
                  <h6 class="div-one-second">Expected Time: {{item.bookingTime}}</h6>
              </div>
              <div class="div-two">
                    <div class="div-two-second" (click)="trackOrder(item)"> View Details</div>
                    <div><ion-badge class="{{item?.bookingStatus == 'CANCEL' || item?.bookingStatus == 'END' ? 'badge-complete' : 'badge-other'}}">
                      {{item.bookingStatus}}
                      </ion-badge></div>
  
              </div>
  
            </div>
        </ion-item>
      </div>
  
  
  
  </ion-content>
  